@import "mixins/mixins";
@import "common/var";
// $subjectColor

@mixin baseTheme {
  color: $--nc1;
  background-color: $--nc10;

  .y-tag__close {
    color: $--nc5;
    &:hover {
      color: $--color-white;
      background-color: $--nc6;
    }
    &:active {
      color: $--color-white;
      background-color: $--nc5;
    }
  }

  &.selected {
    color: $--tag-primary-color;
    background-color: rgba($--tag-primary-color, 10%);
  }

  // @include when(hit) {
  &.y-tag--plain {
    color: $--nc5;
    background-color: unset;
    border-color: $--nc8;

    &.selected {
      color: $--tag-primary-color;
      border-color: $--tag-primary-color;
    }
  }

  
}

@mixin genTheme($subjectColor, $backgroundColorWeight, $activeColor) {
  color: $subjectColor;
  background-color: rgba($subjectColor, $backgroundColorWeight);  

  &.y-tag--dark,
  &.selected {
    color: $--color-white;
    background-color: $subjectColor;
  }

  // @include when(hit) {
  &.y-tag--plain {
    background-color: unset;
    border-color: $subjectColor;
  }

  

  // .y-tag__close {
  //   color: mix($--tag-primary-color, $--color-white, $fontColorWeight);
  //   &:hover {
  //     color: $--color-white;
  //     background-color: mix($--tag-primary-color, $--color-white, $hoverColorWeight);
  //   }
  // }
  .y-tag__close {
    color: $subjectColor;
    &:hover {
      color: $--color-white;
      background-color: $subjectColor;
    }
    &:active {
      color: $--color-white;
      background-color: $activeColor;
    }

  }
}

@include b(tag) {
  @include baseTheme;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: $--tag-padding;
  // padding: 0px 8px;
  font-size: $--tag-font-size;
  // color: $--tag-primary-color;
  border-radius: $--tag-border-radius;
  box-sizing: border-box;

  white-space: nowrap;

  .y-tag__avatar,
  .y-tag__icon {
    position: relative;
    vertical-align: middle;
    font-size: 16px;
    width: 16px;
    height: 16px;
    top: -1px;
    margin-right: 4px;
    user-select: none;
  }

  &.y-tag--closable {
    height: 34px;
    line-height: 32px;
    padding: 0 12px;
    font-size: 13px;
    border-radius: 4px;
    color: $--nc1;

    .y-icon-close {
      border-radius: 50%;
      text-align: center;
      position: relative;
      cursor: pointer;
      font-size: 12px;
      height: 16px;
      width: 16px;
      line-height: 16px;
      vertical-align: middle;
      top: -1px;
      right: -5px;
  
      &::before {
        display: block;
      }
    }
    .y-tag__avatar,
    .y-tag__icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }

  &.y-tag--selectable {
    cursor: pointer;
    user-select: none;
  }

  @include m(plain) {
    border-width: 1px;
    border-style: solid;
    line-height: 22px;
    // @include genTheme(0, 40%, 100%, 100%);
  }

  @include m(small) {
    height: 20px;
    padding: 0 4px;
    line-height: 20px;

    &.y-tag--plain {
      line-height: 19px;
    }

    &.y-tag--closable {
      height: 28px;
      line-height: 26px;
    }

    .y-icon-close {
      // transform: scale(.8);
    }
  }

  @include m(mini) {
    height: 16px;
    line-height: 16px;
    padding: 0 2px;

    .y-tag__avatar,
    .y-tag__icon {
      top: -1px;
      font-size: 14px;
      width: 14px;
      height: 14px;
      margin-right: 2px;
    }

    // .y-icon-close {
    //   margin-left: -3px;
    //   transform: scale(.7);
    // }

    &.y-tag--plain {
      // line-height: 14px;
      // .y-tag__avatar,
      // .y-tag__icon {
      //   top: -1px;
      // }
    }

    &.y-tag--closable {
      height: 24px;
      line-height: 22px;
      font-size: 12px;

      .y-tag__avatar,
      .y-tag__icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
      }
    }
  }
  &.y-tag--blue {
    @include genTheme($--tag-primary-color, 10%, #418cdb)
  }
}
